@use "variables";

//* { cursor: none; }


@mixin size($width, $height){
  width: $width; height: $height;
}

.cursor-container{
  pointer-events: none;
  position: absolute;
  z-index: 100;

  .pointer {
    @include size(5pt, 5pt);
    background: #ffc1cc;
    border-radius: 50%;
    position: absolute;
    top: -2pt;
    left: -1.6pt;
    transform: translate(705px, 316px);
    transition: all 0.05s ease;
  }
    .cursor-wrapper {
      position: absolute;
      top: -7.5pt;
      left: -7.5pt;
      transform: translate(705px, 316px);
      @include size(15pt, 15pt);
      transition: all 0.1s ease;

      .cursor {
        @include size(15pt, 15pt);
        border: 1pt solid pink;
        border-radius: 50%;
        transition: all 150ms linear;
      }

    }


}
