@use "variables";

//* { cursor: none; }


@mixin size($width, $height){
  width: $width; height: $height;
}

.cursor-container{
  pointer-events: none;
  position: absolute;
  z-index: 100;

  .pointer {
    @include size(5pt, 5pt);
    background: #ffc1cc;
    border-radius: 50%;
    position: absolute;
    top: -2pt;
    left: -1.6pt;
    transform: translate(705px, 316px);
    transition: all 0.05s ease;
  }


}
