body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #ecf0f1;
    overflow-x: hidden;
}

.threeDContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    transition: top 850ms ease;
}
.threeDTextContainer{
    position: absolute;
    z-index: 500;
    top: 33%;
    left: 50%;
    width: 330px;
    height: 200px;
    /*background-color: red;*/
    transform: translate(-50%, -50%);
}

.mainLogo{
    width: 30%;
    height: 20%;
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50%, -50%);
    -webkit-user-drag: none;
}

.tagLine{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.2rem;
    transition: top 100ms linear;
    overflow:auto;
}



.tagLine span{
    display: inline;
}
.menu{
    position: absolute;
    top: 5%;
    left: 3%;
}

.menuBullet{
    position: relative;
    border-radius: 50%;
    background-color: #221F20;
    width: 10px;
    height: 10px;
    left: 0%;
    transition: left 180ms ease, width 100ms ease, height 100ms ease;
    white-space: nowrap;
}

.menuBullet > p{
    position: absolute;
    left: 180%;
    top: -185%;
    display: none;
    user-select: none;
}

.menuTab{
    width: 50px;
    height: 14px;
    margin-bottom: 5px;
}

.mainFrame{
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 850ms ease;
    /*white-space: nowrap;*/
}

.Typewriter__wrapper{
    white-space:nowrap;

}


/*Clients*/

.clients{
    position: absolute;
    top: 55%;
    left: 10%;
    display: flex;
    justify-content:  space-around;
    /*align-items: flex-start;*/
    width: 80%;
    height: 80%;
    margin: 0 auto;
    flex-flow: row wrap;
    gap: 0;
    user-select: none;
    -webkit-user-drag: none;
    /*flex-wrap: wrap;*/
}

.client > img{
    height:auto; max-width:100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.client{

    margin-right: 30px;
    width: 100px;
    height: 100px;
    /*border-radius: 50%;*/
    /*background-color: blue;*/
    text-align: center;
}



/*Biography*/

.biographies{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 53%;
}

.biographyContainer{
    margin: 0 auto;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.biographies p {
    width: 55%;
    display: inline-block;
    margin-top: 0;
}

.joshua{
    flex: 0 0 80%;
}

.giulia{
    flex: 0 0 80%;
}

.socialIcon{
    width: 30px;
    height: 30px;
}

.socialIcon:hover{
    filter: invert(28%) sepia(10%) saturate(6%) hue-rotate(86deg) brightness(118%) contrast(119%);
    transition: filter 150ms linear;
}

.socialIcon{
    filter: initial;
    transition: filter 1050ms linear;
}


.biography{
    /*width: 300%;*/
    display: flex;
    flex-direction: column;
}


/*Contact*/




p, h1, h2, h3, h4, h5, h6{
    font-family: 'Avenir', sans-serif;
}
p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, span::selection{
    background-color: #221F20;
    color: #ecf0f1;
}

/*FONTS AND UTILS*/

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
    url('../fonts/AvenirLTStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.hidden{
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 0.3s, 0s;
    transition-delay: 0s, 0.3s;
}

.visible{
    transition-property: visibility, opacity;
    transition-duration: 0s, 1s;
}


.bold{
    font-weight: bolder;
}

/*CUSTOM CURSOR*/

* { cursor: none; }


.cursor-container{
    pointer-events: none;
    position: absolute;
    z-index: 100;


}

.cursor-container .pointer {
    width: 5pt;
    height: 5pt;
    background: #221F20;
    border-radius: 50%;
    position: absolute;
    top: -2pt;
    left: -1.6pt;
    transform: translate(705px, 316px);
    transition: all 0.05s ease;
}
.cursor-container .cursor-wrapper {
    position: absolute;
    top: -7.5pt;
    left: -7.5pt;
    transform: translate(705px, 316px);
    width: 15pt;
    height: 15pt;
    transition: all 0.1s ease;

}
.cursor-container .cursor-wrapper .cursor {
    width: 15pt;
    height: 15pt;
    border: 1pt solid #221F20;
    border-radius: 50%;
    transition: all 150ms linear;
}



/*Responsiveness*/

@media screen and (max-width: 600px) {

    .menuBullet > p{
        display: inline-block;
    }

    .biographyContainer {
        width: 100%;
        flex-direction: column;
    }



    .Typewriter__wrapper{
        white-space: normal;

    }

    .biographies p{
        width: 80%;
        text-align: center;
    }
    .biographies{
        left: 5%;
    }

    .biography{
        margin-bottom: 5%;
    }

    .cursor-container{
        display: none;
    }

    * { cursor: initial; }
    html, body{
        height: 100vh;
        width: 100vw;
        margin:0;
        overflow-x: hidden;

    }
}

/*.dotFinder{*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    border-radius: 50%;*/
/*    !*background-color: red;*!*/
/*    position: absolute;*/


/*}*/